body {
    background-color: black;
    margin: 0;
    padding: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 1px) {
    body button{
      font-size: 6px;
    }
  }

  @media screen and (min-width: 600px) {
    body button{
      font-size: 8px;
    }
  }
  
  @media screen and (min-width: 800px) {
    body button{
      font-size: 10px;
    }
  }
  
  @media screen and (min-width: 1000px) {
    body button{
      font-size: 12px;
    }
  }

  @media screen and (min-width: 1200px) {
    body button{
      font-size: 14px;
    }
  }



#overflowText{
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255, 0.7);
    /* display: none; */
}
#overflowText pre{
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}

.komHover{
  font-weight: 600;
}

.komHover:hover{
    color: aqua;
}


.gridPhoto{
    /* width: 39vw; */
    /* height: 49vh; */
    position: relative;
}

#showTextButton{
    width: 100px;
    height: 40px;
}

#streachDiv{
    height: 5000px;
    width: 5000px;
    background-color: transparent;
    /* z-index: -1000; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: #04AA6D; */
}

.maindiv {
    width: 473px;
    height: 883px;
    background-image: url("/pictures/list_optimized.png");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transform-origin: 50% 50%;
    box-shadow: 10px 10px 5px grey;
  }

  .container {
    /* width: 40vw; */
    height: 47vh;
    overflow: auto;
    /* background-image: url("/skryptorium.jpg"); */
    background-color: #fefefa;
    background-size: cover;
    scroll-behavior: smooth;
    position: relative;
}

  .container:hover{
    scroll-behavior: auto;
  }
      
.container::-webkit-scrollbar {
    display: none;
}



.gridHeader{
  grid-area: header;
  background-color: #333333;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#logo{
  height: 100%;
}

#headerMenu{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.headerButton{
  width: 20%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: transparent;
  border: none;
  border-left: white solid 1px;
  border-right: white solid 1px;
  color: white;
}


.gridPhoto{
  grid-area: skan;
  background-color: #FEFEFA;
}

.gridTranskrypcja{
  grid-area: transliteracja;
  background-color: #FDF8F5;
  position: relative;
}

.grid-wrapper{
  display: grid;
  grid-template-columns: 40vw 49vw 9vw;
  grid-template-rows: 8vh 47vh 36vh 7vh;
  gap: 5px;
  grid-template-areas: 
  "header header header"
  "skan transliteracja CośDodatkowego"
  "komentarz transliteracja CośDodatkowego"
  "footer footer footer";
}

#tekstTranskrypcji{
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
  font-weight: 400;
  transition: 0.5s;
}

#transkrypcjaBox{
  max-width: 46vw;
  min-width: 40vw;
  height: 75vh;
  left: 2vw;
  top: 2vh;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y:auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#textSizeButtons{
  /* position: absolute; */
  width: 95%;
  bottom: 1vh;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.btn{
  padding: 0 10px;
  display: inline-flex;
  background-color: #ddd;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  bottom: 0px;
}

.btn.active{
  background-color: #444;
}

.btn:nth-child(2){
  font-size: 1.5em;
}

.btn:nth-child(3){
  font-size: 2em;
}


/* Odniesienia do transliteracji */


#Z1TS:hover, #Z2TS:hover, #Z3TS:hover, #Z4TS:hover, #Z5TS:hover, #Z6TS:hover, #Z7TS:hover, #Z8TS:hover, #Z9TS:hover, #Z10TS:hover, #Z11TS:hover, #Z12TS:hover, #Z13TS:hover, #Z14TS:hover, #Z15TS:hover, #Z16TS:hover, #Z17TS:hover, #Z18TS:hover, #Z19TS:hover, #Z20TS:hover, #Z21TS:hover, #Z22TS:hover, #Z23TS:hover, #Z24TS:hover, #Z25TS:hover, #Z26TS:hover, #Z0TS:hover, #Z00TS:hover{
  color: grey;
}

/* Komentarz */

#komentarzBox{
  width: 38vw;
  height: 35vh;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
 /* background-color: white; */
 position: relative;
}

#komentarzBox div{
  /* color: black; */
  /* margin-top: 2vh; */
  /* height: 100%; */
  font-family: 'Roboto Slab', serif;
  position: absolute;
  
}

#komentarzBox span{
  color: black;
  /* margin-top: 2vh; */
  /* height: 100%; */
  font-family: 'Roboto Slab', serif;
  overflow: scroll;

}

.gridKomentarz{
  grid-area: komentarz;
  background-color: #fefefa;
  display: flex;
  justify-content: center;
  align-items: center;
}

#BraunsbergKom img{
  height: 23vh;
}

.div{
  /* background-color: #272727; */
  height: 100%;
  z-index: 1000000;
  position: relative;
}

.linkKom{
  text-decoration: none;
  color: #00539E;
}

.linkKom:hover{
  color: white;
}

/* .powrótDoListy{
  filter: invert(100%) sepia(91%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%);
} */

h4{
  font-family: 'Roboto Slab', serif;
}


.gridItem{
  position: relative;
}

#photoControl{
  width: 100%;
  height: 5vh;
  min-height: 30px;
  background-color: #333333;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}

.zoom-header{
    margin-left: 1vw;
    margin-right: 1vw;  
    display: flex;
    align-items: center;
    width: 20%;
    min-width: 100px; /* Full-width */
  }

/* slider */

.slidecontainer {
  /* width: 100%; */
  height: 20px;
  /* position: absolute; */
  z-index: 1000;
}

/* The slider itself */
.select {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;  
}

.select:hover {
  opacity: 1; 
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.select::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: white; 
  cursor: pointer; 
}

.select::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: black; 
  cursor: pointer; 
}

/* #toggleOverFlowText{
  width: 100px;
  height: 40px;
  background-color: white;
  z-index: 2000;
  position: absolute;
  bottom: 0px;
  right: 0px;
} */

/* .zoom-header {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 30px;
} */

#scrollToDiv{
  width: 50px;
  height: 50px;
  background-color: red;
  z-index: 100000;
  position: absolute;
  top: 0px;
  right: -7vw;
}

.buttonPhoto{
  width: 20%;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  margin-left: 1vw;
  margin-right: 1vw;
  background-color: transparent;
  border: none;
  border-left: white solid 1px;
  border-right: white solid 1px;
  color: white;
}

.gridFooter{
  display: grid;
  grid-area: footer;
  width: 100%;
  height: auto;
  background-color: #333333;
}

.gridCoś{
  grid-area: CośDodatkowego;
  background-color: #DBD9D5;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sideListButton{
  width: 80%;
  height: 5vh;
  min-height: 30px;
  display: flex;
  align-items:center;
  justify-content: center;
  font-family: 'Roboto Slab', serif;
  /* margin-left: 1vw;
  margin-right: 1vw; */
  background-color: transparent;
  border: none;
  border-top: black solid 1px;
  border-bottom: black solid 1px;
  color: black;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 0px;
  position: relative;
}

.sideList{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.textSize1{
  font-size: 10px;
}